cloud-storage-frontend/.DS_Store
cloud-storage-frontend/node_modules
cloud-storage-backend/node_modules
cloud-storage-backend/files
cloud-storage-backend/static
cloud-storage-frontend/dist
dist


# local env files
cloud-storage-frontend/.env.local
cloud-storage-frontend/.env.*.local

# Log files
cloud-storage-frontend/npm-debug.log*
cloud-storage-frontend/yarn-debug.log*
cloud-storage-frontend/yarn-error.log*
cloud-storage-frontend/pnpm-debug.log*

# Editor directories and files
cloud-storage-frontend/.idea
cloud-storage-frontend/.vscode
cloud-storage-frontend/*.suo
cloud-storage-frontend/*.ntvs*
cloud-storage-frontend/*.njsproj
cloud-storage-frontend/*.sln
cloud-storage-frontend/*.sw?
